<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kalon.bookhunting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name="com.kalon.bookhunting.HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kalon.bookhunting.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name="com.kalon.bookhunting.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name="com.kalon.bookhunting.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.kalon.bookhunting.SearchScreen"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.kalon.bookhunting.ResultsScreen"
            android:label="@string/title_activity_results_screen" >
        </activity>
        <activity
            android:name="com.kalon.bookhunting.ResultsDetail"
            android:label="@string/title_activity_results_detail" >
        </activity>
    </application>

</manifest>
